@import url(variables.css);
#form{
  display: flex;
 justify-content: center;
  flex-direction: row;
  padding: 10px;
}
.text{
  margin-right: 10px;
}
.submit{
  margin-left: 10px;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;  
  background-image: var(--backgroundimg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  padding: 3px;
  box-shadow:10px 7px 10px black;
  justify-content: space-around;
  transition: all .5s;
  border-radius: 20px;
}
.name{
  background-color: white;
  text-align: center;
  border: solid 5px black;
  width: 90%;
  transition: all .3s;
  height: 50%;
}
.name:hover{
  scale: 105%;
}
#name{
  width: 25%;
  padding: 3px;
}
#price{
  padding: 7px;
}