@import url(variables.css);
body{
  transition: all .3s;
  background-color: var(--backgroundcolor);
}
#form{
  display: flex;
 justify-content: center;
  flex-direction: row;
  padding: 10px;
}
.text{
  margin-right: 10px;
}
.submit{
  margin-left: 10px;
}
.header{
  display: flex;
  flex-wrap: wrap;
 justify-content: space-around;
 background-color: var(--headercolor);
 border-radius: 20px;
 flex-direction: column;
 margin-top: 10px;
 margin-bottom: 10px;
}
.classes{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.forms{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.texts{
  margin-right: 10px;
}
.input{
margin-right: 10px;
}
.spells{
  margin-right: 10px;
  border-radius: 50%;
  width: 7%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: .9rem;
  text-align: center;
}
.image{
  width: 100%;
  border: 8px solid transparent;
  border-radius: 50%;
  height: 100px;
  aspect-ratio: 1/1;
  transition: all .05s;
  opacity: .4;
}
.image:hover{
  outline: 5px solid rgb(0, 0, 0);
  outline-offset: 2px;
  opacity: 1;
}
.image:active{
  outline-offset: .1px;
}
.container1{
  display: flex;
  flex-wrap: wrap;
 justify-content: space-around;
 
}
.card {
  box-sizing: border-box;
  width: 15%;
  height: 230px;
  border: 1px solid white;
  box-shadow: 12px 17px 20px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  background-color: rgb(255, 255, 255);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  flex-direction: column;
}
.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
  background-color: var(--cardhover);
}
.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
.title {
  text-align: center;
  width: 70%;
  transition: all .3s;
  font-size: 1.5rem;
  margin-top: 0px;
  font-weight: 900
}
.img{
  content: url("https://static.thenounproject.com/png/920503-200.png");
  width: 10%;
  position: absolute;
  margin-top: 150px;
}
.newcard {
  margin-top: 15px;
  display: flex;
  align-items: center;  
  flex-direction: column;  
  background-image: var(--backgroundimg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  padding: 3px;
  box-shadow:3px 3px 6px rgb(53, 51, 51); 
  transition: all .5s;
  border-radius: 20px;  
}
.name{
  background-color: white;
  text-align: center;
  border: solid 3px black;
  width: 90%;
  transition: all .3s;
  font-size:1.5rem;
  border-radius: 10px;
  padding: .5%;
  margin-bottom: -10px;
  font-weight: 900;
}
#name{
  width: 25%;
  padding: 3px;
}
#price{
  padding: 7px;
}
#school{
  width: 30%;
 overflow-wrap: break-word;
}
#time{
  width: 17%;
  padding: 2px;
}
.btn {
  outline: solid 3px black;
  position: relative;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  color: black;
  background-color: white;
  margin-top: 25px;
  margin-bottom: 25px;
 }
 .btn:hover {
  transform: translateY(0px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .btn::after {
  outline: 3px black solid;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
 }
 .btn::after {
  background-color: #fff;
 }
 .btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
 }
 .wave-group {
  position: relative;
}

.wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: rgb(0, 0, 0);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}
.button {
  width: 90%;
  height: 95%;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
 }
 .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 91.5%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
     to left,
     hsl(300, 1%, 22%) 0%,
     hsl(340, 4%, 53%) 8%,
     hsl(330, 4%, 31%) 92%,
     hsl(340, 4%, 14%) 100%
   );
 }
 
 .front {
  
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: var(--submittext);
  background: var(--submit);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 button:hover {
  filter: brightness(110%);
 }
 
 button:hover .front {
  transform: translateY(-3px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
 }
 

 button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
 }
 
 button:focus:not(:focus-visible) {
  outline: none;
 }
.pp{
  position: absolute;
  margin-top: -2vh;
  margin-left: 40%;
}
.secret{
  width: 1%;
  height: 5vh;
  position: absolute;
  margin-left: 87%;
  margin-bottom: 10%;
  opacity: 0.001;
}
.meow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
justify-content: center;
  width: 3.5em;
  height: 2em;

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: .5s;
}

input:checked + .slider {
  background-color: #dedada;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}
 @media screen and (max-width:1200px) {
    .card{width: 30%;}
    .spells{font-size: 1.2rem; width: 16%; margin-right: 16px;}
    .image:hover{outline: 3px solid rgb(0, 0, 0); outline-offset: -1px}
    .image:active{outline-offset: -1.2px;}
    .classes{margin-bottom: -40px;}  
 }
 @media screen and (max-width:750px) {
  .spells{font-size: .6rem; width: 14%; margin-right: 16px;}
  .image:hover{outline-offset: .3px;}
  .classes{margin-bottom: -40px;}  
  .name{font-size: .9rem;}
 }
@media screen and (max-width:400px) {
  .spells{width: 21%; margin-right: 10%;}
  .title{font-size: .9rem;}
  .switch{margin-top: 5%; width: 3em; height: 1.5em;}
  .slider:before{height: 1.2em; width: 1.2em; bottom: 10%;}
}