:root{
    --acidimg: url('../public/acid2.webp');
    --fireimg: url('../public/fire.jpg');
    --forceimg: url('../public/force.jpg');
    --coldimg: url('../public/cold.jfif');
    --psychicimg: url('../public/psychic.jfif');
    --necroticimg:url('../public/necrotic.png');
    --slashingimg:url('../public/slashing.webp');
    --piercingimg: url('../public/piercing.jfif');
    --bludgeoningimg: url('../public/bludgeoning.jfif');
    --lightningimg: url('../public/lightning.png'); 
    --radiantimg: url('../public/radiant.webp');
    --thunderimg: url('../public/thunder.png');
    --poisonimg: url('../public/poison.jpg');
    --elementalimg: url('../public/elemental.jfif');
    --physcialimg: url('../public/psychical.jfif');
    --healimmg: url('../public/heal.jpg');
    --abjurationimg: url('../public/schools/abjuration.png');
    --transmutationimg: url('../public/schools/transmutation.webp');
    --conjurationimg: url('../public/schools/conjuration.webp');
    --divinationimg: url('../public/schools/divination.webp');
    --enchantmentimg: url('../public/schools/enchantment.avif');
    --illusionimg: url('../public/schools/illusion.avif');
    --invocationimg: url('../public/schools/invocation.jpg');
    --necromancyimg: url('../public/schools/necromancy.jpg');
    --transmutationimg: url('../public/schools/transmutation.webp');
    --evocationimg: url('../public/schools/evocation.webp');
     --backgroundimg: url("");
     --backgroundcolordark: #515151;
     --backgroundcolorlight: #f59184;
     --backgroundcolor: #515151;
     --background: #000000;

}
.darkmd{
    --backgroundcolor: var(--backgroundcolordark)
}
.lightmd{
    --backgroundcolor:var(--backgroundcolorlight)
}
#acid {
        --backgroundimg: var(--acidimg)
}
#fire {
    --backgroundimg:var(--fireimg)
}
#force {
    --backgroundimg:var(--forceimg)
}
#cold {
    --backgroundimg:var(--coldimg)
}
#psychic{
    --backgroundimg:var(--psychicimg)
}
#necrotic{
    --backgroundimg:var(--necroticimg)
}
#slashing {
    --backgroundimg:var(--slashingimg)
}
#piercing{
    --backgroundimg:var(--piercingimg)
}
#bludgeoning{
    --backgroundimg:var(--bludgeoningimg)
}
#lightning{
    --backgroundimg:var(--lightningimg)
}
#radiant{
    --backgroundimg:var(--radiantimg)
}
#thunder{
    --backgroundimg:var(--thunderimg)
}
#poison{
    --backgroundimg:var(--poisonimg)
}
#elemental{
    --backgroundimg:var(--elementalimg)
}
#physical{
    --backgroundimg:var(--physcialimg)
}   
#heal{
    --backgroundimg:var(--healimmg)
}
#abjuration{
    --backgroundimg:var(--abjurationimg)
}
#transmutation{
    --backgroundimg:var(--alterationimg)
}
#conjuration{
    --backgroundimg:var(--conjurationimg)
}
#divination{
    --backgroundimg:var(--divinationimg)
}
#enchantment{
    --backgroundimg:var(--enchantmentimg)
}
#illusion{
    --backgroundimg:var(--illusionimg)
}
#invocation{
    --backgroundimg:var(--invocationimg)
}
#necromancy{
    --backgroundimg:var(--necromancyimg)
}
#transmutation{
    --backgroundimg:var(--transmutationimg)
}
#evocation{
    --backgroundimg:var(--evocationimg)
}