:root{
    --acidimg: url('../public/acid.jfif');
    --fireimg: url('../public/fire.avif');
    --forceimg: url('../public/fire.avif');
    --coldimg: url('../public/fire.avif');
    --psychicimg: url('../public/fire.avif');
    --necroticimg:url('../public/necrotic.jfif');
    --slashingimg:url('../public/slasher.jfif');
    --piercingimg: url('../public/piercing.jfif');
    --bludgeoningimg: url('../public/bludgeoning.jfif');
    --lightningimg: url('../public/lightning.jfif'); 
    --radiantimg: url('../public/radiant.webp');
    --thunderimg: url('../public/thunder.png');
    --poisonimg: url('../public/posion.jfif');
    --elementalimg: url('../public/elemental.jfif');
    --physcialimg: url('../public/psychical.jfif');
    --healimmg: url('../public/heal.jpg');
    --abjurationimg: url('../public/abjuration.jpg');
    --transmutationimg: url('../public/alteration.png');
    --conjurationimg: url('../public/conjuration.webp');
    --divinationimg: url('../public/divination.webp');
    --enchantmentimg: url('../public/enchantment.webp');
    --illusionimg: url('../public/illusion.jpg');
    --invocationimg: url('../public/invocation.jpg');
    --necromancyimg: url('../public/necromancy.jpg');
    --transmutationimg: url('../public/transmutation.webp');
    --evocationimg: url('../public/evocation.webp');
     --backgroundimg: url("");
}
#acid {
        --backgroundimg: var(--acidimg)
}
#fire {
    --backgroundimg:var(--fireimg)
}
#force {
    --backgroundimg:var(--forceimg)
}
#cold {
    --backgroundimg:var(--coldimg)
}
#psychic{
    --backgroundimg:var(--psychicimg)
}
#necrotic{
    --backgroundimg:var(--necroticimg)
}
#slashing {
    --backgroundimg:var(--slashingimg)
}
#piercing{
    --backgroundimg:var(--piercingimg)
}
#bludgeoning{
    --backgroundimg:var(--bludgeoningimg)
}
#lightning{
    --backgroundimg:var(--lightningimg)
}
#radiant{
    --backgroundimg:var(--radiantimg)
}
#thunder{
    --backgroundimg:var(--thunderimg)
}
#poison{
    --backgroundimg:var(--poisonimg)
}
#elemental{
    --backgroundimg:var(--elementalimg)
}
#physical{
    --backgroundimg:var(--physcialimg)
}   
#heal{
    --backgroundimg:var(--healimmg)
}
#abjuration{
    --backgroundimg:var(--abjurationimg)
}
#transmutation{
    --backgroundimg:var(--alterationimg)
}
#conjuration{
    --backgroundimg:var(--conjurationimg)
}
#divination{
    --backgroundimg:var(--divinationimg)
}
#enchantment{
    --backgroundimg:var(--enchantmentimg)
}
#illusion{
    --backgroundimg:var(--illusionimg)
}
#invocation{
    --backgroundimg:var(--invocationimg)
}
#necromancy{
    --backgroundimg:var(--necromancyimg)
}
#transmutation{
    --backgroundimg:var(--transmutationimg)
}
#evocation{
    --backgroundimg:var(--evocationimg)
}